.banner{
    background-image: url("../../assets/banner.png");
    height: 88vh;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    h2{
        color: white;
        border: solid 2px red;
        margin-left: 140px;
        font-size: 40px;
        display: flex;
        width: 27vw;
    
    }
}

.devoDoar{
   height: 80vh;
    border: solid 2px red;
div{
    border: solid 2px green;
    height: 15vh;
    display: flex;
    align-items: center;
    h2{
        font-size: 30px;
        margin-left: 60px;
        color: rgba(0,86,149,1);
    }

}
}
.boxCard{
    border: solid 2px blue;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    article{
        border: solid blueviolet;
        width: 22%;
        height: 85%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(1, 87, 148, 0.3);
        border-radius: 10px;
        p{
            text-align: center;
            border: solid 2px brown;
            width: 80%;
            font-size: 20px;
        }

    }

}