header{
    //border:solid 2px red;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg,rgba(0,27,47,1)0%,rgba(0,86,149,1)88%);

}
.boxLogo{
    border: solid 2px yellow;
    width: 23vw;
    display: flex;
    color: white;
    align-items: center;
    height: 14vh;
    justify-content: space-evenly;

}

.boxMenu{
    border: solid 2px green;
    width: 35vw;
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    a{
        color:white;
        font-size: 20px;
    }
}
}
.boxInput{
    border: solid 2px white;
    height: 6vh;
    width:20vw;
    margin-right: 20px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    border-radius: 15px;
    //padding-left: 16px;
input{
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 15px;
&::placeholder{
        color: white;
    }


}
}